
  .bar {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    place-items: center;
    place-content: space-around;
  
  }
  
.edemo {
  font-size: 1.35rem; /* Equivalente a text-4xl */
  font-weight: 600;
  background: linear-gradient(to right, #1f1a7c, rgb(48, 3, 248));
  -webkit-background-clip: text; /* Para compatibilidade com navegadores WebKit */
  background-clip: text;
  color: transparent;
}


.categoria {
  font-weight: 800;
  font-size: 1.9rem;
  font-family: 'Times New Roman', Times, serif;
}
.termo {
  font-size: small;
  font-weight: bold;
}
/*.Abrirmenu {
  display: none;
}*/